In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.functions import col

# Set the location of the Delta Lake and Kafka packages
delta_package = "io.delta:delta-spark_2.12:3.0.0"  # Replace with the correct Delta version
kafka_package = "org.apache.spark:spark-sql-kafka-0-10_2.12:3.2.1"  # Replace with the correct Spark version
xml_package = "com.databricks:spark-xml_2.12:0.14.0"

# Initialize Spark Session with Delta Lake and Kafka support
spark = SparkSession.builder \
    .appName("test") \
    .config("spark.jars.packages", f"{delta_package},{xml_package}") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .getOrCreate()

:: loading settings :: url = jar:file:/home/spark/.local/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/spark/.ivy2/cache
The jars for the packages stored in: /home/spark/.ivy2/jars
io.delta#delta-spark_2.12 added as a dependency
com.databricks#spark-xml_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-553eeddc-7435-4a36-9a77-ad764614e2cb;1.0
	confs: [default]
	found io.delta#delta-spark_2.12;3.0.0 in central
	found io.delta#delta-storage;3.0.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
	found com.databricks#spark-xml_2.12;0.14.0 in central
	found commons-io#commons-io;2.8.0 in central
	found org.glassfish.jaxb#txw2;2.3.4 in central
	found org.apache.ws.xmlschema#xmlschema-core;2.2.5 in central
:: resolution report :: resolve 373ms :: artifacts dl 18ms
	:: modules in use:
	com.databricks#spark-xml_2.12;0.14.0 from central in [default]
	commons-io#commons-io;2.8.0 from central in [default]
	io.delta#delta-spark_2.12;3.0.0 from central in [default]
	io.delta#delta-storage;3.0.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	org.apache.ws.xmlschema#xmlschema-core;2.2.5 from central in [default]
	org.glassfish.jaxb#txw2;2.3.4 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   7   |   0   |   0   |   0   ||   7   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-553eeddc-7435-4a36-9a77-ad764614e2cb
	confs: [default]
	0 artifacts copied, 7 already retrieved (0kB/21ms)
23/12/13 04:31:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/13 04:31:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/12/13 04:31:02 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [10]:
raw_df = spark.read.format('parquet').option("mergeSchema", "true").load('hdfs://spark-test1:9000/raw/transactions')
raw_df_20 = raw_df.orderBy(col("_raw_insert_timestamp").desc()).limit(20)
display(raw_df_20.toPandas())

,key,value,topic,partition,offset,timestamp,timestampType,_raw_insert_timestamp,_raw_insert_date,_raw_insert_hour
0,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2460,2023-12-13 04:46:24.486,0,2023-12-13 04:46:26.319254,2023-12-13,4
1,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2459,2023-12-13 04:46:22.2,0,2023-12-13 04:46:24.557306,2023-12-13,4
2,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2458,2023-12-13 04:46:20.142,0,2023-12-13 04:46:22.317233,2023-12-13,4
3,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2457,2023-12-13 04:46:17.675,0,2023-12-13 04:46:20.186045,2023-12-13,4
4,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2456,2023-12-13 04:46:15.913,0,2023-12-13 04:46:17.746333,2023-12-13,4
5,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2455,2023-12-13 04:46:13.79,0,2023-12-13 04:46:15.054726,2023-12-13,4
6,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2454,2023-12-13 04:46:11.676,0,2023-12-13 04:46:13.141850,2023-12-13,4
7,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2453,2023-12-13 04:46:09.699,0,2023-12-13 04:46:12.816299,2023-12-13,4
8,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2452,2023-12-13 04:46:07.636,0,2023-12-13 04:46:09.718280,2023-12-13,4
9,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2451,2023-12-13 04:46:05.356,0,2023-12-13 04:46:07.174311,2023-12-13,4
10,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2450,2023-12-13 04:46:03.049,0,2023-12-13 04:46:05.432917,2023-12-13,4
11,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2449,2023-12-13 04:46:01.366,0,2023-12-13 04:46:03.111011,2023-12-13,4
12,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2448,2023-12-13 04:45:59.106,0,2023-12-13 04:46:00.433762,2023-12-13,4
13,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2447,2023-12-13 04:45:57.112,0,2023-12-13 04:45:59.155191,2023-12-13,4
14,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2446,2023-12-13 04:45:55.123,0,2023-12-13 04:45:57.152884,2023-12-13,4
15,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2445,2023-12-13 04:45:53.135,0,2023-12-13 04:45:54.783605,2023-12-13,4
16,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2444,2023-12-13 04:45:49.955,0,2023-12-13 04:45:51.718103,2023-12-13,4
17,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2443,2023-12-13 04:45:47.851,0,2023-12-13 04:45:50.521717,2023-12-13,4
18,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2442,2023-12-13 04:45:45.757,0,2023-12-13 04:45:47.991672,2023-12-13,4
19,hdfs://spark-test1:9000/in/transactions/transa...,"{""path"":""hdfs://spark-test1:9000/in/transactio...",test-topic,0,2441,2023-12-13 04:45:43.459,0,2023-12-13 04:45:45.459268,2023-12-13,4

In [11]:
processed_df = spark.read.format('parquet').option("mergeSchema", "true").load('hdfs://spark-test1:9000/processed/transactions')
processed_df_20 = processed_df.orderBy(col("_processed_insert_timestamp").desc()).limit(20)
display(processed_df_20.toPandas())
# for row in processed_df_20.selectExpr('round(Amount, 2) as Amount').collect():
#     print(row.Amount)
# processed_df_20.printSchema()

,TransactionId,Amount,CustomerId,TransactionDateTime,Location,Status,_processed_insert_timestamp,_raw_insert_timestamp,_batch_id,TransactionDate
0,39,708.40,80,2023-12-13 04:44:29,SYDNEY,SUCCESS,2023-12-13 04:45:02.528651,2023-12-13 04:44:33.662628,2,2023-12-13
1,85,380.45,58,2023-12-13 04:44:33,LONDON,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:44:37.780162,2,2023-12-13
2,10,834.21,48,2023-12-13 04:42:53,PARIS,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:42:57.932694,2,2023-12-13
3,37,294.56,6,2023-12-13 04:43:43,SYDNEY,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:43:47.466553,2,2023-12-13
4,41,620.38,15,2023-12-13 04:44:26,SYDNEY,SUCCESS,2023-12-13 04:45:02.528651,2023-12-13 04:44:31.026105,2,2023-12-13
5,55,927.79,43,2023-12-13 04:43:50,SYDNEY,SUCCESS,2023-12-13 04:45:02.528651,2023-12-13 04:43:54.691760,2,2023-12-13
6,14,746.71,86,2023-12-13 04:43:34,TOKYO,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:43:38.021376,2,2023-12-13
7,35,580.02,10,2023-12-13 04:42:47,SYDNEY,SUCCESS,2023-12-13 04:45:02.528651,2023-12-13 04:42:51.180227,2,2023-12-13
8,25,709.68,88,2023-12-13 04:44:14,NEW YORK,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:44:17.779503,2,2023-12-13
9,80,418.61,26,2023-12-13 04:43:43,SYDNEY,SUCCESS,2023-12-13 04:45:02.528651,2023-12-13 04:43:47.466553,2,2023-12-13
10,17,647.99,64,2023-12-13 04:43:54,SYDNEY,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:43:58.032437,2,2023-12-13
11,18,741.85,93,2023-12-13 04:43:27,LONDON,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:43:31.635449,2,2023-12-13
12,1,836.31,24,2023-12-13 04:41:54,SYDNEY,SUCCESS,2023-12-13 04:45:02.528651,2023-12-13 04:41:58.040113,2,2023-12-13
13,23,796.50,37,2023-12-13 04:44:26,LONDON,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:44:31.026105,2,2023-12-13
14,79,672.44,66,2023-12-13 04:44:31,NEW YORK,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:44:35.701494,2,2023-12-13
15,93,597.41,37,2023-12-13 04:43:45,SYDNEY,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:43:50.025225,2,2023-12-13
16,12,265.14,31,2023-12-13 04:43:50,TOKYO,SUCCESS,2023-12-13 04:45:02.528651,2023-12-13 04:43:54.691760,2,2023-12-13
17,36,11.02,15,2023-12-13 04:44:26,NEW YORK,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:44:31.026105,2,2023-12-13
18,44,255.32,69,2023-12-13 04:44:11,LONDON,SUCCESS,2023-12-13 04:45:02.528651,2023-12-13 04:44:15.809321,2,2023-12-13
19,75,906.71,25,2023-12-13 04:42:58,SYDNEY,FAILURE,2023-12-13 04:45:02.528651,2023-12-13 04:43:03.550709,2,2023-12-13