In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.functions import col

# Set the location of the Delta Lake and Kafka packages
delta_package = "io.delta:delta-spark_2.12:3.0.0"  # Replace with the correct Delta version
kafka_package = "org.apache.spark:spark-sql-kafka-0-10_2.12:3.2.1"  # Replace with the correct Spark version
xml_package = "com.databricks:spark-xml_2.12:0.14.0"

# Initialize Spark Session with Delta Lake and Kafka support
spark = SparkSession.builder \
    .appName("test") \
    .config("spark.jars.packages", f"{delta_package},{xml_package}") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .getOrCreate()

:: loading settings :: url = jar:file:/home/spark/.local/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/spark/.ivy2/cache
The jars for the packages stored in: /home/spark/.ivy2/jars
io.delta#delta-spark_2.12 added as a dependency
com.databricks#spark-xml_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-f71058a0-d0f7-46ff-a42c-8e71ed44c3ce;1.0
	confs: [default]
	found io.delta#delta-spark_2.12;3.0.0 in central
	found io.delta#delta-storage;3.0.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
	found com.databricks#spark-xml_2.12;0.14.0 in central
	found commons-io#commons-io;2.8.0 in central
	found org.glassfish.jaxb#txw2;2.3.4 in central
	found org.apache.ws.xmlschema#xmlschema-core;2.2.5 in central
:: resolution report :: resolve 224ms :: artifacts dl 17ms
	:: modules in use:
	com.databricks#spark-xml_2.12;0.14.0 from central in [default]
	commons-io#commons-io;2.8.0 from central in [default]
	io.delta#delta-spark_2.12;3.0.0 from central in [default]
	io.delta#delta-storage;3.0.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	org.apache.ws.xmlschema#xmlschema-core;2.2.5 from central in [default]
	org.glassfish.jaxb#txw2;2.3.4 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   7   |   0   |   0   |   0   ||   7   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-f71058a0-d0f7-46ff-a42c-8e71ed44c3ce
	confs: [default]
	0 artifacts copied, 7 already retrieved (0kB/10ms)
23/12/13 03:41:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/13 03:41:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/12/13 03:41:59 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
raw_df = spark.read.format('parquet').option("mergeSchema", "true").load('hdfs://spark-test1:9000/raw/transactions')
raw_df_20 = raw_df.orderBy(col("_raw_insert_timestamp").desc()).limit(20)
print(raw_df.count())

615

In [3]:
processed_df = spark.read.format('parquet').option("mergeSchema", "true").load('hdfs://spark-test1:9000/processed/transactions')
processed_df_20 = processed_df.orderBy(col("_processed_insert_timestamp").desc()).limit(20)
display(processed_df_20.toPandas())

,TransactionId,Amount,CustomerId,TransactionDateTime,Location,Status,_processed_insert_timestamp,_raw_insert_timestamp,_batch_id,TransactionDate
0,47,210.610001,85,2023-12-13 03:22:23,TOKYO,SUCCESS,2023-12-13 03:22:39.597049,2023-12-13 03:22:26.941463,0,2023-12-13
1,55,732.020020,30,2023-12-13 03:21:55,PARIS,SUCCESS,2023-12-13 03:22:39.597049,2023-12-13 03:21:58.574313,0,2023-12-13
2,5,55.009998,4,2023-12-13 03:22:15,SYDNEY,SUCCESS,2023-12-13 03:22:39.597049,2023-12-13 03:22:19.897706,0,2023-12-13
3,82,148.039993,83,2023-12-13 03:21:57,TOKYO,FAILURE,2023-12-13 03:22:39.597049,2023-12-13 03:22:00.033528,0,2023-12-13
4,28,579.780029,61,2023-12-13 03:21:38,LONDON,FAILURE,2023-12-13 03:22:39.597049,2023-12-13 03:21:42.695553,0,2023-12-13
5,60,548.590027,1,2023-12-13 03:22:21,PARIS,SUCCESS,2023-12-13 03:22:39.597049,2023-12-13 03:22:24.588032,0,2023-12-13
6,44,628.570007,92,2023-12-13 03:22:25,LONDON,SUCCESS,2023-12-13 03:22:39.597049,2023-12-13 03:22:29.297564,0,2023-12-13
7,64,213.070007,71,2023-12-13 03:22:23,PARIS,FAILURE,2023-12-13 03:22:39.597049,2023-12-13 03:22:26.941463,0,2023-12-13
8,39,298.399994,25,2023-12-13 03:21:27,NEW YORK,FAILURE,2023-12-13 03:22:39.597049,2023-12-13 03:21:38.632840,0,2023-12-13
9,24,610.119995,16,2023-12-13 03:22:23,TOKYO,FAILURE,2023-12-13 03:22:39.597049,2023-12-13 03:22:26.941463,0,2023-12-13
10,23,549.909973,8,2023-12-13 03:22:23,SYDNEY,SUCCESS,2023-12-13 03:22:39.597049,2023-12-13 03:22:26.941463,0,2023-12-13
11,31,175.410004,58,2023-12-13 03:21:55,TOKYO,FAILURE,2023-12-13 03:22:39.597049,2023-12-13 03:21:58.574313,0,2023-12-13
12,88,497.059998,89,2023-12-13 03:21:38,PARIS,FAILURE,2023-12-13 03:22:39.597049,2023-12-13 03:21:42.695553,0,2023-12-13
13,99,169.550003,17,2023-12-13 03:22:25,LONDON,SUCCESS,2023-12-13 03:22:39.597049,2023-12-13 03:22:29.297564,0,2023-12-13
14,35,606.770020,34,2023-12-13 03:22:05,TOKYO,SUCCESS,2023-12-13 03:22:39.597049,2023-12-13 03:22:08.678122,0,2023-12-13
15,34,448.399994,37,2023-12-13 03:22:10,LONDON,FAILURE,2023-12-13 03:22:39.597049,2023-12-13 03:22:14.720204,0,2023-12-13
16,50,850.229980,35,2023-12-13 03:22:17,NEW YORK,FAILURE,2023-12-13 03:22:39.597049,2023-12-13 03:22:19.897706,0,2023-12-13
17,95,873.380005,81,2023-12-13 03:21:58,LONDON,SUCCESS,2023-12-13 03:22:39.597049,2023-12-13 03:22:01.591305,0,2023-12-13
18,98,976.510010,76,2023-12-13 03:21:48,SYDNEY,FAILURE,2023-12-13 03:22:39.597049,2023-12-13 03:21:52.296415,0,2023-12-13
19,94,126.820000,22,2023-12-13 03:22:00,NEW YORK,FAILURE,2023-12-13 03:22:39.597049,2023-12-13 03:22:04.394642,0,2023-12-13